body {
    margin: 0;
}
.mat-elevation-z5 {
    position: relative;
    z-index: 2;
}
.mat-drawer-content {
    padding: 1em;
}
.mat-sidenav {
    width: 25%
}
html {
    min-height: 100%;
    height: 100%;
}
body {
    min-height: 100%;
    height: 100%;
}
app {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mat-sidenav-container {
    flex: 1;
}

.mat-menu-panel {
    background: #c2185b;
    width: 20vw;
    /* box-shadow: none !important; */
}

.mat-card {
    margin: 1em;
}

.cdk-overlay-pane {
    bottom: 56px !important;
    left: 0px !important;
}
.mat-toolbar {
    z-index: 9999 !important;
}

/*
.mat-toolbar {
    min-height: 52x !important;
    height: 52px !important;
}
.mat-toolbar-layout {
    height: 100%;
}
.menu-button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
.menu-button > .mat-icon-button {
    height: 100%;
    vertical-align: middle;
}

.mat-toolbar-row {
}
*/